<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <script type="module" src="script.js"></script>
</head>
<body>
    <div class="container">
        <form action="/login" method="get">
            <button class="loginBtn" id="loginButton" type='submit'>Login</button>
        </form>
        
        <h2>Find your favourite artist here</h2>
        <form action="/submit" method="POST">
            <!-- <label for="artistID">Artist ID</label> -->
            <input type="text" class="artistId" name="userId" id="userId" required placeholder="Enter user ID here">
            <button type="submit" class="submitBtn">Submit</button>
        </form>
    </div>
    <script>
        const loginBtn = document.getElementById('loginButton')
        console.log(loginBtn)
        console.log('hello')
    </script>
</body>