<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/result.css">
</head>
<body>
    <div class="container">
        <div class="profile">
            <h1 class="name"></h1>
            <img class="artistName" src="" alt="">
            <p class="numOfTracks"></p>
        </div>
        <div class="albumContainer">
            <h2 class="albumname"></h2>
            <p class="releaseDate"></p>
            <img src="" alt="" class="albumCover">
        </div>
    </div>

    <%if(locals.data){%>
    <%    console.log('ok')%>
    <%}%>
</body>
</html>